nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
  padding: 0;
  margin: 0;

  .mainMenu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    height: 100%;
    .closeMenu {
      display: block;
      cursor: pointer;
    }
  }

  .openMenu {
    display: none;
    cursor: pointer;
    i {
      color: #fff;
    }
  }

  .nav__li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $primary-font;
    height: 100%;
  }
  .nav__a {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1em;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 92%;
    margin: 10px 5px;
    padding: 0px 5px;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: #4bacec;
      border-radius: 0px 0px 20px 20px;
    }
  }
}

#active1 {
  background-color: #fff;
  color: #4bacec;
  border-radius: 0px 0px 20px 20px;
}

@media all and (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 100;
    padding: 0;
    margin: 0;
    .mainMenu {
      display: none;
      flex-direction: column;
      justify-content: flex-end;
      list-style: none;
      align-items: center;
      position: relative;
      transform: translateX(90%);
      .closeMenu {
        display: none;
        cursor: pointer;
      }
    }

    .openMenu {
      margin: 10px;
      display: flex;
      cursor: pointer;
      i {
        color: #fff;
      }
    }

    .nav__li {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $primary-font;
    }
    .nav__a {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 13px;
      color: #fff;
      text-decoration: none;
      display: flex;
      align-items: center;
      padding: 2px;
      margin: 5px 3px;
      &:hover {
        color: #4bacec;
        background-color: transparent;
      }
    }
  }
}
